
body {
  color: #333;
  font-family: "PT Serif", serif;
  margin: 1em auto 4em auto;
  position: relative;
  /*width: 960px;*/
  width: 720px;
}

a {
  /*color: steelblue;*/
  color: #E6E7DF;/*#F4F7F7;*/
}

a:hover        {color:black;}
a:not(:hover)   {text-decoration: none;}

pre             {font-family: "Menlo", monospace;}
.gisttext:hover {text-decoration:none;}
.gisttext       {color:black;}

.hn             {color: #F60;}
.hn:hover       {color: #F60;}

.recent         {text-decoration:none;
                 color:black;}

h1, h2          { font-family: sans-serif; margin: 0; }

h2              { font-size: 1.2em; }

.page           { margin: 2em auto; /*width: 35em; */
                  padding: 0.8em; background: #FCFCFC; }