<html>
<head>
<title>Latest Gists - Hacker Gists</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='normalize.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
</head>
<div class=page>
<h1>Hacker Gists | Recent Gists</h1>
{% for gist in params %}
<ul>
<li><a href="{{gist.url}}"><strong>{{ gist.description }}</strong></a></li>
<li><pre>{{ gist.content }}</pre></li>
<li><a href="http://news.ycombinator.com/item?id={{gist.discussion_id}}">Hacker news discussion</a></li>
</ul>
{% endfor %}
{% if params|length > 30 %}
<a href="/latest/{{start+30}}">[more]</a>
{% endif %}
</div>
</html>
